/**media Queries**/
.fixed
{
	position: fixed;
    z-index: 9999;
    width: 100%;
    top: 0;
}
.less-520{ display:none;}

@media screen and (min-width: 1200px) {
  .middle-container, .contain-container
{
	width:1200px;

}
   
}
@media screen and (max-width: 1199px) {
   .header-userinfo{ padding-left:0px;}
   .user-inforight{ padding-left:0px; padding-right:0px;}
    h3.service-user-name, h5.service-user-type{ width:65%;}
    .posts .user_info{ margin-left:0px;}
/*********Edit Profile********/
.edit-profile-section .form-control{ width:75%;}
   #dob .form-control {
    width: 22.4%;
}
.select-pet {
    float: left;
    width: 75%;
}
/************/
}
@media screen and (max-width: 991px) {
	.search-box{ width:100%;}
	.search-area{ padding-right:0px;}
	.logo img{ width:100%;}
	#top-comments .textpost{ width:85%;}
	.post-comments-section .post-comment{ margin-top:0.5px;   min-height: 23px; margin-left: 4px;}
	.post-comments-section .profile-image img{ height:24px; width:24px;}
	.post-comments-section .upload-smile {
    height: 22px;
    margin-top: 2px;
    width: 40px;
}
.posts .user_info{ margin-left:-18px;}
.post-comments-section .upload-cam {

    height: 20px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 40px;
}
.comment-user-image{ width:auto !important;}
.comment-user-description{ padding-left:5px !important;}
.logo
{
    padding-top:3px;
	padding-bottom:3px;
}
.header-userinfo
{
    margin-top: 15px;
    margin-bottom: 10px;
}
header .contain-container{ min-height:55px;}
.user_name a{ float:left;}
/*********Edit Profile********/
.edit-profile-section .form-control{ width:65%}
.edit-profile-section label{ width:110px;}
.select-pet {
    float: left;
    width: 65%;
}
#dob .form-control {
    width: 65%;
    float: right;
    margin-right: 6px;
}
#dob .form-control:last-child {
    margin-right: 6px;
}
/*************/
} 
@media screen and (max-width: 768px) { 
.login-page header .open > .dropdown-menu{margin-left: -155px;}
.login-page header .open > .dropdown-menu:before{ 
    right: 96px;
 }
.logo{
	text-align:center;
	padding-left:15px !important;
}
.user_name span { float:left; width:100%; padding-bottom:5px;}
.user_name a{ float:none;}
.posts .user_info {
    padding-left: 8px !important;
	margin-left:0px;
}
.logo a{ text-align:center; display:inline-block;}
.search-area{ padding-right:15px;}
.user-inforight{ padding-left:15px; padding-right:15px;}
.search_mini{ right:85px;}
.left-sidebar,.center-content{ padding-left:15px !important; padding-right:15px !important;}
.footer-top, .footer-bottom{ text-align:center; padding:5px;}
.copy-rights{ float:none;}

.google-adds .profile-image
{
	border:none;
	padding: 10px;
    width: 50%;
}
.middle-container{ margin-bottom:120px;}
/*********Edit Profile********/
.edit-profile-section .form-control{ width:80%;}
.edit-profile-section label{ width:110px;}

#dob .form-control {
     width: 22%;
    float: left;
    margin-right:20px;
}
#dob .form-control:last-child {
    margin-right: 0px;
}
.select-pet {

    width: 83%;
}
.edit-profile-section .btn-yellow{ float:left;} 

/*************/
}
@media screen and (max-width: 630px) 

{
	.edit-profile-section .form-control{ width:70%;}
	.select-pet {

    width: 70%;
}
}
@media screen and (max-width: 520px) 
{ 
.greater-520{ display:none;}
.less-520{ display:block; padding-left:15px; padding-right:15px;}
.header-userinfo{ margin:0 auto; display:table; float:none; padding-top:20px; padding-bottom:5px;}
.search_mini::before{ right:0px; left:20%;}
.search_mini{ width:75%;}
.post-comments-section .post-comment{ margin-left:10px; width:90%;}
/*********Edit Profile********/
.select-pet {
    width: 100%;
}
#dob .form-control {
     width: 100%;
    float: left;
    margin-right:20px;
}
.edit-profile-section label {
   float:none;
   width:100%;
}
.edit-profile-section .form-control {
    float: none;
    width: 100%;
}
.edit-profile-section .form-group 
{
	margin-bottom:0px;
}
/*************/

}