@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: src_sans_pro;
    src: url(../fonts/SourceSansPro-Regular.ttf);

}

body
{
	background:#fff;
	font-size:13px;
	font-family:src_sans_pro;
}

.full-container
{
	width:100% !important;
}

header .contain-container{ min-height:68px; height:auto; }
header { 	background:#1e1f1d;}
header .open > .dropdown-menu{ margin-left:-50px; border-radius:0;}
header .open > .dropdown-menu li{ border:none;}
.paddingL{ padding-left:0px !important;}
.paddingR{ padding-right:0px !important;}
.paddingLR{ padding-left:0px !important; padding-right:0px !important;}
.logo{     
padding-top: 7px;
 padding-bottom:7px;
}
.search-box
{
	height: 35px;
    border: none;
    margin-top: 15px;
    margin-bottom: 15px;
	padding-left:15px;
	color:#9c9b9a;
	width:93%;
	float:left;
}
.search-submit
{
	background: url(../images/srch-bkg.png);
    width: 29px;
    height: 28px;
    float: left;
    margin-top: 18px;
    margin-left: -38px;
    border: none;
	outline:none;
}
.header-userinfo
{ 
    float: right;
    margin-top: 18px;
    margin-bottom: 18px;
}
.header-userinfo li
{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
    list-style: none;
    border-right: 1px solid #2e302d;
}
.header-userinfo li:last-child{ border:none; padding-right:0px;}
.btn-group button
{
    background: none;
    border: none;
    color: #fff;
    padding-left: 5px;
    padding-right: 0px;
}
.btn-default:active, .btn-default.active,.btn-default:focus, .open > .dropdown-toggle.btn-default{ background-color:#1e1f1d !important; color:#fff !important; border:none !important;}
.btn-default:hover{    color: #fff;
    background-color: #1e1f1d;
    border-color:none;}
.hidden-search
{
	font-size: 20px;
    float: left;
    margin-top: 2px;
    margin-right: 10px;
    color: #fff;
}
.hidden-search i:hover, .hidden-search i:focus{ color:#fff;}
.search_mini
{
	float: left;
    position: absolute;
    top:48px;
    width: 85%;
    right: 70px;
}
.search_mini:before {
    content: "";
    display: block;
    position: absolute;
    right: 147px;
    top: -20px;
    width: 20px;
    height: 20px;
    border: 15px solid transparent;
    border-bottom-color: #fff;
}
.search_mini input[type=text]{
	margin-top: 10px;
    margin-bottom: 0px;
    border: 1px solid #000;
    z-index: 999999;
	height:32px;
}
.search_mini .search-submit{ margin-top:12px;}
/**inner container**/
.login-page h1{ margin-top:0; font-size:38px;}
.login-page p.introduction { font-size:20px; color:#888888; }
.login-page header .open > .dropdown-menu{    min-width: 300px; float: left;margin-left: -242px; min-height:415px;     padding-top: 10px;  padding-bottom: 15px;}
.login-page header .open > .dropdown-menu:before{    content: "";
    display: block;
    position: absolute;
    right: 10px;
    top: -24px;
    width: 20px;
    height: 20px;
    border: 15px solid transparent;
    border-bottom-color: #fff;}
.login-page header .open > .dropdown-menu li{ width:100%; float:left; padding-left:10px; padding-right:10px;}
.login-user-icon .fa{ color:#fff;     font-size: 25px;}
.login-page .form-control{ border-radius:0px; height:37px; background:#fafafa;}
.login-page .form-group{ height: 37px; margin-bottom:8px;}
.login-page .btn-yellow{ background-color: #eebe1c;  background: #eebe1c;border-radius:0px; width:100%; font-size:17px; color:#000;}
.login-page .btn-yellow:hover{ color:#edc01c; background:#000;}
.login-page .btn-black{ color:#edc01c; background:#000 ;border-radius:0px; width:100%; font-size:22px;}
.login-page .btn-black:hover{ background-color: #eebe1c;  background: #eebe1c ;  color:#000;}
.social-login{ margin-top:10px; float:left; width:100%;}
.social-login img{ border:1px solid #d2d2d2;}
.sign-up{ margin-top:10px;}
.forget{ color:#0084c0;}
.newsignup{    float: left;
    font-size: 18px;
    text-shadow: none;
    margin-top: 10px;}
/**********Sign Up Form******/
.signup-container{ margin-top:60px;}
.signup-form{/* padding-left:150px;*/}
.signup-social .social-login{ text-align:center;}
.signup-social .social-login img{ text-align:center; display:inline-block;}
.signup-container h2{ text-align:center; font-size:25px;}
.signup-form h2{ margin-bottom:20px;}
/***************************/	
.middle-container
{
	padding-left:0px;
	padding-right:0px;
	margin-top:35px;    margin-bottom: 70px;
}
.profile-image
{
	float:left;
	border:1px solid #e4dfd9;
}
.profile-image img
{
	width:100%;
}
.post-comments-section .profile-image img
{
	width:36px; height:36px; border:none;
}
h1{    
float: left;
width: 100%;
font-size: 20px;
font-family:src_sans_pro;
}
h4
{
	float: left;
    font-size: 13px;
	width:100%;
}
.user_name
{
	margin-top: 10px;
    margin-bottom: 4px;
}
.user_type
{
	    margin-top: 0px;
}
.user_name a
{
	color:#8e8f8e;
	font-size:11px;
	float:right;
	padding-top: 6px;
    padding-bottom: 4px;
}
.left-sidebar ul{float: left;padding-left: 0px; list-style: none; width:100%;}
.left-sidebar ul li{ padding-left:6px; float:left; width:100%; margin-bottom:2px;}
.left-sidebar ul li.active{ background:#eeeded;}
.left-sidebar ul li:first-child{ padding-left:7px;}
.left-sidebar ul li a{ color:#1e1f1d; font-size:18px; float:left; width:100%; padding-bottom:4px; padding-top:4px;}
.left-sidebar ul li:hover, .left-sidebar ul li:focus{ background-color:#eeeded;}
.mywall{background: rgba(0, 0, 0, 0) url("../images/wall.png") no-repeat scroll left center; padding-left: 32px}
.messages{background: rgba(0, 0, 0, 0) url("../images/messages.png") no-repeat scroll left center; padding-left: 32px}
.events{background: rgba(0, 0, 0, 0) url("../images/events.png") no-repeat scroll left center; padding-left: 32px}
.mypets{background: rgba(0, 0, 0, 0) url("../images/mypets.png") no-repeat scroll left center; padding-left: 32px}
.addpet{background: rgba(0, 0, 0, 0) url("../images/addpets.png") no-repeat scroll left center; padding-left: 32px}
.navbar-inverse{ background:#fff;border-color:#e4dfd9;}
.navbar-inverse .navbar-toggle{border-color:#e4dfd9;}
.navbar-inverse .navbar-toggle .icon-bar{ background-color:#000;}
.navbar-inverse .navbar-toggle:hover, .navbar-inverse .navbar-toggle:focus{ background-color:#fff;}
.navbar-collapse{ padding-left:0px; padding-right:0px;}
nav ul{ margin-top:10px;}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form{border-color:#e4dfd9;}

/***Center Page**/

#top-comments{     
    border: 1px solid #e4dfd9;
    padding: 25px 0 25px 20px;
    position: relative;
    display: inline-block;
    width: 100%; margin-bottom:20px;}
#top-comments .textpost{     
    min-height: 33px;
    background: #eaeaea;
    border: 1px solid #e4dfd9;
    width: 93%;
    padding-left: 10px;
    color: #a29f9f;
    font-size: 14px;
    float: left;
    position: relative;}
.center-content{ padding-left:5px; padding-right:5px;}

 .upload-cam{   
    background: rgba(0, 0, 0, 0) url("../images/cam.png") no-repeat scroll right center;
    width: 37px;
    height: 33px;
    float: left;
    padding-left: 0px;
	cursor:pointer;
	}
 .upload-smile{   
    background: rgba(0, 0, 0, 0) url("../images/slime.png") no-repeat scroll right center;
    width: 37px;
    height: 33px;
    float: left;
    padding-left: 0px;
	cursor:pointer;
	}
.right-sidebar ul
{
	float: left;
    list-style: none;
    padding-left: 0px;
    border: 1px solid #e4dfd9;
    width: 100%;
}
.right-sidebar ul li
{
	float: left;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 14px;
    padding-left: 10px;
	border-bottom: 1px solid #e4dfd9;
}
.right-sidebar ul li:last-child{ border:none;}
h3.service-user-name
{
    font-size: 15px;
    float: left;
    margin-top: 0px;
    padding-left: 12px;    margin-bottom: 4px;
	width:75%;
}
h5.service-user-type
{
	font-size: 10px;
    float: left;
    margin-top: 0px;
    padding-left: 12px;	width:75%;    margin-bottom: 8px;
}
h1.black-heading
{
	background: #1e1f1d;
    margin: 0px;
    color: #fff;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 18px;
    padding-right: 18px;
}
.btn-follow
{
	float: left;
    margin-left: 12px;
    padding-bottom: 1px;
    padding-top: 0px;
    border: none;
    border-radius: 0px; font-size:15px;
}
.btn-yellow
{
	background: #eebe1c;

}
.promotions-adds{ margin-bottom:12px;}
/*Posts styling*/
.tab-content .posts{ border-top:0;}
.myprofile-tabs h1{ margin:0px;}
.myprofile-tabs a{float: left; color:#1e1f1d;}
.myprofile-tabs li a{ border:1px solid #e4dfd9; border-radius:0; border-bottom:0; background:#eeeded; padding:10px 60px;}
.myprofile-tabs li.active a,  .myprofile-tabs li.active a:focus { background:#edc01c !important; border-radius:0 !important; color:#1e1f1d !important; cursor:pointer !important;}
.myprofile-tabs li a:hover{ background:#1e1f1d !important; border-radius:0 !important; color:#edc01c !important; cursor:pointer !important;}

.tab-content .edit-profile-section{ border-top:0;}
.posts
{
	margin-top:0px;
	padding-top:20px;
	padding-right:20px;
	padding-left:20px;
	border: 1px solid #e4dfd9;	
}
.posts h1
{
    width: auto;
    margin-top: -3px;
    margin-bottom: 5px;
}
.posts .user_info
{
	    margin-left: -25px;
}
.location
{
	float:left;
}
.location . fa-map-marker
{
	height:20px; width:20px;
}
.location .address
{
	float: right;
    padding-left: 8px;
    font-size: 13px;
	font-family:src_sans_pro;
	line-height:14px;
}
.post-descriotion
{
	font-size:14px;
	font-family:src_sans_pro;
	float:left;
}
.share-comment-like{ padding-top:10px; padding-bottom:10px;}
.share-comment-like .fa-circle
{
	float: right;
    padding-top: 4px;
    font-size: 20px;
    left: 10px;
    position: absolute;
    color: #ff4848;
}
.share-comment-like .fa-circle span
{
	float: right;
    font-size: 8px;
    left: 1px;
    position: absolute;
    color: #fff;
    padding-top: 6px;
}
.share-comment-like .comments a{ font-size:13px; color:#7f7f7f; background: rgba(0, 0, 0, 0) url("../images/pencil.jpg") no-repeat scroll left center;padding-left: 22px;}
.share-comment-like .share a{ font-size:13px; color:#7f7f7f;}
.share-comment-like .share i{     font-size: 16px;
    float: left;
    padding-right: 5px;}
.share-comment-like .likes { width:38px; float:left; border-right:1px solid #c7c7c7;}
.share-comment-like .comments{        width: 93px;
    float: left;

    border-right: 1px solid #c7c7c7;
    padding-left: 8px !important;
}
.share-comment-like .share
{
	float: left;
    width: 70px;
    padding-left: 8px;
}
.likes i{ color:#7f7f7f; font-size:18px;}
.posts img{ width:100%;}
/******User Comments*********/
.post-comments-section
{
    background: #f9f9f9;
    padding: 20px 0px;
    border-color: #e4dfd9;
    border-style: none solid solid;
    border-width: 0 1px 1px;
    padding-bottom: 0px;
	margin-bottom:10px;
}
.post-textbox{ padding-left:20px; padding-bottom:20px;}
.post-comments-section .post-comment
{
	min-height: 33px;
    background: #eaeaea;
    border: 1px solid #e4dfd9;
    padding-left: 10px;
    color: #a29f9f;
    font-size: 14px;
	width:100%;
    float: left;
    position: relative;
	margin-top: 2.5px;
    margin-bottom: 3.5px;

}
.post-comments-section .profile-image{ border:none;}
.post-comments-section .upload-cam{ 
    border-right:1px solid #e8e8e8;   
	background-position: center;
    width: 50px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;}
.post-comments-section .upload-smile
{
	background-position: center;
    width: 50px;
    height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
	border:
}
.post-comments-section .comments-description
{
    padding-left: 20px; padding-top:20px; border-top: 1px solid #e4dfd9; padding-bottom:10px;
}
.post-comments-section .comments-description h1
{
	margin-top: 0px; margin-bottom:0px;
    line-height: 13px;
    font-size: 16px;
}
.post-comments-section .comments-description h4
{
    margin-top: 4px;
    font-size: 12px
}
.post-comments-section .comments-description p{ margin-bottom:0px;}
.post-comments-section .comments-description p a{ color:#1e1f1d; float:left; padding-right:10px;}
.post-comments-section .comments-description p .likes{ padding-top:2px; float:left;}
.post-comments-section .comments-description p .likes i{ font-size:16px;}
.post-image .image1{ padding-right:5px;}
.post-image .image2{ padding-left:5px;}
.post-image .image3{ margin-top:10px;}
/****/
/************Edit Profile Section**************/
.edit-profile-section
{
	float: left;
    width: 100%;
    border: 1px solid #e4dfd9;
}
.edit-profile-section h1
{
	background-color:#edc01c;
	margin: 0px;
    padding-top: 12px;
    padding-left: 20px;
    padding-bottom: 12px;
}
.edit-profile-section label{   
    width: 130px;
    float: left;
    font-size: 16px;
    padding-top: 9px;
    padding-bottom: 9px;
    margin-bottom: 0px;}
.edit-profile-section .form-control
{
	float: left;
    width: 80%;
    border-radius: 0px;
    height: 40px;
    background-color: #fafafa;
	font-size:16px; color:#1e1f1d;
	margin-bottom:5px;
}
.edit-profile-section form
{
	float: left;
    width: 100%;
    margin-top: 20px;
}
#dob .form-control {
    width: 24.6%;
    margin-right: 20px;
}
#dob .form-control:last-child {
    margin-right: 0px;
}
#dob .form-control{ width:24.6%;}
.edit-profile-section .form-group{ float:left; width:100%;}
.edit-profile-section textarea{ min-height:110px;}
.edit-profile-section .btn-yellow{    float: right; margin-bottom: 20px;  border-radius: 0px; min-width: 175px;font-size: 20px; font-weight: bold;}
.edit-profile-section  select{     
   background-image: url(../images/sel-bkg.jpg);
    background-repeat: no-repeat;
    background-position: right;
    -webkit-appearance: none; cursor:pointer;  -moz-appearance: none;
	}
.select-pet{ float:left; width:80%;}
.select-pet .checkbox-field {
    width: auto;
    padding-right: 25px; font-size:15px;
}
.select-pet input[type="checkbox"]
{
	margin-right: 7px;
    float: left;
}
/********Messages Section*********/
#inbox .posts{ padding:0px;}
#inbox table th{ background:#e6e6e6; font-size:15px; color:#6a6a6a; text-align:center;}
#inbox table td{ font-size:14px; font-family:src_sans_pro;}
#inbox table td .fa{    float: right;
    font-size: 16px;
    padding-top: 5px;}
#inbox table td input[type=checkbox]
{
	    float: left;
    margin-right: 5px
}
/*****************************/
/**Footer**/
footer{      background-color: #1e1f1d;
    min-height: 35px;
    bottom: 0;
    position: absolute;
    width: 100%; color:#b4b4b4;    }
footer .container{    
    padding-top: 12px;
    padding-bottom:0px;}
footer a{ color:#b4b4b4; padding-left:13px; padding-right:13px;}
footer a:hover{ text-decoration:none; color:#edc01c;}
footer a:first-child{ padding-left:0px;}
.copy-rights{ float:right;}
/*********Search Results Page*************/
.search_results
{
	position: relative;
    float: left;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}
.search_results .user_img
{
	float:left;
	position:relative;
}
.search_results .user_information  .btn-follow
{
	float: left;
    font-size: 16px;
    font-weight: normal;
    min-width: 90px;
    margin-bottom: 0px;
	margin-left:68px;
}
.search_results p
{
    float: left;
    width: 75%;
    margin-left: 12px;
    position: relative;
    min-height: 36px;
	text-align:justify;

}

.search_results .results
{
	margin-bottom: 15px;
    padding-bottom: 15px;
}
.bootstrap-select
{

    top: 15px;
    width: 135px;
    float: right;
    right: 95px;
    position: absolute;
    height: 35px;
    color: #000;
}
.bootstrap-select .btn-default{ color:#000;}

.bootstrap-select {
border-left: 1px solid #ccc;
    width: 160px !important;
    padding-left: 5px;
}

.show-tick .btn-default:active, .show-tick .btn-default.active,.show-tick .btn-default:focus, .show-tick > .dropdown-toggle.btn-default
{
	background:#fff !important;
	color:#000 !important;
	border:none !important;
	outline:none !important;
    webkit-box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125);
    box-shadow: inset 0 0px 0px rgba(0, 0, 0, .125)
}
.show-tick .dropdown-menu {
    border: 1px solid #ccc;
    margin-left: -1px !important;
    max-width: 200px;
    min-width: 200px !important;
    top: 33px;
}
.bootstrap-select .btn-default:hover, .bootstrap-select .btn-default:focus
{
	background:#fff !important;
	color:#000 !important;
}
.search_mini .bootstrap-select
{
    color: #000;
    float: right;
    height: 30px;
    position: absolute;
    right: 40px;
    top: 11px;
    width: 135px;
}
.search_mini .show-tick .dropdown-menu {
    top: 29px;
}
.search_mini .show-tick > .dropdown-toggle.btn-default
{
 padding-bottom: 4px;
}
.less-520 .bootstrap-select {

    width: 100px !important;
}