@charset "utf-8";
/* CSS Document */
@font-face {
    font-family: myriad_pro_semibold;
    src: url(css/fonts/MyriadPro-SemiboldCond.otf);
}

@font-face {
    font-family: source_sans_bold;
    src: url(css/fonts/SourceSansPro-Bold.otf);
}
@font-face {
    font-family: source_sans_semibold;
    src: url(css/fonts/SourceSansPro-Semibold.otf);
}
@font-face {
    font-family: source_sans_regular;
    src: url(css/fonts/SourceSansPro-Regular.otf);
}
a{text-decoration:none;}
a:hover{ text-decoration:none;}
input::-webkit-input-placeholder {
color: #fff !important;
}
 
input:-moz-placeholder { /* Firefox 18- */
color: #fff !important;  
}
 
input::-moz-placeholder {  /* Firefox 19+ */
color: #fff !important;  
}
 
input:-ms-input-placeholder {  
color: #fff !important;  
}

#zip_postal_place::-webkit-input-placeholder, #pwd::-webkit-input-placeholder,#email::-webkit-input-placeholder {
color: #bdbdbd !important;
}
 
#zip_postal_place:-moz-placeholder, #pwd::-webkit-input-placeholder,#email::-webkit-input-placeholder  { /* Firefox 18- */
color: #bdbdbd !important;  
}
 
#zip_postal_place::-moz-placeholder, #pwd::-webkit-input-placeholder,#email::-webkit-input-placeholder  {  /* Firefox 19+ */
color: #bdbdbd !important;  
}
 
#zip_postal_place:-ms-input-placeholder, #pwd::-webkit-input-placeholder,#email::-webkit-input-placeholder  {  
color: #bdbdbd !important;  
}
.full_width
{
	width:100% !important;
	max-width:1349px !important;
}
.pdLeft
{
	padding-left:0px !important;
}
.pdRight
{
	padding-right:0px !important;
}
.header{ min-height:100px;}
.logo{ padding-top:38px; float:left;}
.sign_up
{
    background: url(images/signup.png);
    float: left;
    width: 107px;
    height: 56px;
    right: -6px;
    position: relative;
 font-family: myriad_pro_semibold;
    font-size: 16px;
    padding-top: 16px;
    text-align: center;
    color: #fff;
    letter-spacing: 0.8px;
}
.sign_up:hover{ color: #fff;}
.login:hover{ color: #ec7501;}
.btn_resturant_partner:hover{ color:#ec7501;}
.login{ 
background:url(images/login.png);
float: right;
width: 97px;
height: 56px;
    font-family: myriad_pro_semibold;
    font-size: 16px;
    padding-top: 16px;
    text-align: center;
    color: #ec7501;
    letter-spacing: 0.8px;
}
.login_signup
{
float: right;
width: 210px;
padding-top:24px;
}
/****Below Header****/
.container_bkg{ 
    background: url(images/bkg-top_02.jpg);
    position: relative;
    min-height: 600px;
    background-size: contain;
    background-repeat: no-repeat;
	text-align:center;
}
.container_bkg h4
{
    font-size: 31px;
    padding-top: 105px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: source_sans_regular;
    margin-bottom: -10px;
}
.container_bkg h2
{
font-size: 72px;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    font-family: source_sans_bold;
    margin-top: 0px;
    margin-bottom: 20px;
}
.container_bkg .text-search
{
    width: 335px;
    height: 55px;
    border: 2px solid #fff;
    border-radius: 55px;
    background: #f4a827;
    font-size: 16px;
    color: #fff;
    padding-left: 25px;
	font-family:source_sans_regular; 
}
.container_bkg .search-btn 
{
	background: url(images/search-btn.png);
    width: 22px;
    height: 22px;
    border: none;
    background-color: none;
    position: relative;
    left: -45px;
    top: 5px;
}
.order_enjoy
{
    margin: 0 auto;
    text-align: center;
    display: inline-block;
    margin-top: 25px;
}
.order_enjoy a:first-child{background: url(images/line_07.png);
    background-repeat: no-repeat;
    background-position: center right;
    text-align: left;}
.order_enjoy a{    height: 100px;
    color: #fff;
    font-size: 17px;
    width: 140px;
    float: left; padding-top:18px; text-decoration:none;}
.search_resturants
{
    background: url(images/find-resturants-bkg_03.png);
    min-height: 208px;
    position: relative;
    background-repeat: no-repeat;
    padding-left: 0px;
    top: -127px;     
	background-size: contain;
	background-position: center;
	text-align:center;

}
.find_local_resturants
{
    text-align: center;
    width: 732px;
    display: inline-block;
	padding-top:75px;	
}
.find_local_resturants label
{
    font-size: 25px;
    float: left;
    font-family: source_sans_bold;
    text-transform: uppercase;
    color: #ec7501;
    text-align: left;
    line-height: 24px; margin-left:10px;
}
.find_local_resturants label span{ font-size:19px; font-family:source_sans_semibold; color:#e22100;}
.find_local_resturants .zip_postal
{
    padding-left: 50px;
    width: 475px;
    height: 55px;
    margin-right: -108px;
    border-radius: 100px;
    border: 2px solid #ec7501;
    color: #b3b3b3;
    font-size: 14px;
    font-family: source_sans_regular; 
}
.find_local_resturants .map-sign
{
    position: absolute;
    margin-left: 24px;
    margin-top: 16px;
}
.zip_submit
{
    background-image: url(images/zip-search-bkg.png);
    width: 114px;
    height: 46px;
    border: none;
    float: right;
    position: absolute;
    margin-top: 6px;    border-radius: 25px;
      cursor: pointer;
    margin-left: -12px;
	color:#ffffff;
	font-family:source_sans_bold; font-size:15px; text-transform:uppercase;
}
input:focus{ outline:none;}
.why-us
{
	top: -90px;
    position: relative;
}
.why-us h2
{
    font-size: 45px;
    color: #e22100;
    text-align: CENTER;
    font-family: source_sans_bold;
    background: url(images/h2bkg_07.png);
    background-repeat: no-repeat;
    background-position: center bottom;
    height: 68px;
}
/*****/

/*****Footer******/
.footer
{
    background: url(images/footer-bkg.png);
    min-height: 371px;	background-size: contain; background-repeat:no-repeat;
	    margin-top: 80px;
		position:absolute;
}
.footer-top ul
{
    float: left;
    list-style: none;
    margin: 0px;
    padding: 0px;
}
.footer-top li.grid-img {
    float: left;
    position: relative;
    margin-right: .6666%;
    width: 24.5%;	cursor:pointer;

}
.footer-top li.grid-img:last-child
{
	margin-right:0px;
}
.img_overlay
{
    background: url(images/footer-img-overlay.png);
    position: absolute;
     height: 100%;
    background-repeat: repeat-x;
    z-index: 99999;
    width: 100%;
    top: -1px;
    padding-right: 19px;
    opacity: .8;
	cursor:pointer;    left: 0;
	cursor:pointer;
	
}
/*.footer-top li:nth-child(2)
{
	margin-top:-60px;
}
.footer-top li:nth-child(2) .img_overlay{ display:none;}*/
.footer-top
{
    bottom: 25px;
    position: relative;
	z-index:-1;
}
.btn_resturant_partner
{
    background: url(images/btn_resturant_partner.png);
    width: 297px;
    height: 66px;
    float: right;
    position: relative;
    bottom: 25px;
    background-position: center bottom;
    text-align: center;
    font-size: 14px;
    text-transform: uppercase;
    color: #ec7501;
    font-family: source_sans_semibold;
    padding-top: 21px;
    padding-bottom: 21px;
    padding-left: 24px;
}
.footer_bottom
{
    float: right;
    height: 0px;
    top: 65px;
    position: relative;
}
.footer_form input[type="text"] {
    width: 187px;
    height: 42px;
    border: 2px solid #fff;
    border-radius: 55px;
    font-size: 14.5px;
    padding-left: 15px;
    font-family: source_sans_bold;
    color: #fff;
    background: url(images/input-arrow.png);
    background-repeat: no-repeat;
    background-position: right 10px center;    margin-right: 18px;
}
.footer_form input[type="submit"]
{
    background: url(images/footer-srch.png);
    width: 197px;
    height: 55px;
    border: none;
    position: relative;
	display:inline;
	cursor:pointer; top:20px;
}
.container.footer_form {
    text-align: center;
    top: -85px;
    position: relative;   
}
.modal-header{padding-top: 25px;
    border: none;
    padding-bottom: 5px;}
.modal-body h3{ font-size:22px; color:#e22100 !important; font-family:source_sans_semibold; margin-top:0px;}
.modal-content{     float: left;
    padding-bottom: 25px;
}
.modal-content .form-control
{
	border:2px solid #ec7501;
	border-radius:100px;
	height:45px;
	font-size:14px;
	font-family:source_sans_regular; padding-left:35px;
}
.modal-content label
{
	color:#768082;
	font-size:14px;font-family:source_sans_regular;
}
.modal-content .login_box
{
    background: url(images/modal_line.jpg);
    background-repeat: no-repeat;
    background-position: center right;
}
.modal-content .checkbox label{ font-size:11px;font-family:source_sans_regular;}
.btn_popup{
    background: url(images/sign_in.jpg);
    width: 150px;
    height: 54px;
    border: none;
    margin: 0 auto;
    text-align: center;
    display: inherit;
}
.btn_popup:focus, .btn:focus, .login:focus{ outline:none; text-decoration:none;}
/***********/

/* carousel */
.media-carousel .thumbnail
{
	border:none;
	    margin-bottom: 25px;
}
.media-carousel 
{
  margin-bottom: 0;
  padding: 0 40px 30px 40px;
  margin-top: 30px;
}
/* Previous button  */
.media-carousel .carousel-control.left 
{
	background: url(images/carousel_previous.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 25px;
    text-shadow: none;
    opacity: 1;
    font-size: 0px;
    margin-top: 60px;
}
.media-carousel .carousel-control.left:hover
{
    background: url(images/pre_hover.png);	
    width: 45px;
    height: 33px;
}
.media-carousel .carousel-control.right:hover
{
    background: url(images/next_hover.png);	
    width: 45px;
    height: 33px;
}
/* Next button  */
.media-carousel .carousel-control.right 
{
	background: url(images/carousel_next.png);
    background-repeat: no-repeat;
    width: 33px;
    height: 25px;
    text-shadow: none;
    opacity: 1;
    font-size: 0px;
    margin-top: 60px;
}
/* Changes the position of the indicators */
.media-carousel .carousel-indicators 
{
  right: 50%;
  top: auto;
  bottom: -35px;
  margin-right: -19px;
}
/* Changes the colour of the indicators */
.media-carousel .carousel-indicators li 
{
  background: #ec7501;
}
.media-carousel .carousel-indicators .active 
{
  background: #ec7501;
}
.carousel-inner h3 {
    font-size: 18px;
    color: #e22100;
    font-family: source_sans_bold;
    text-align: center;    margin-bottom: 0px;
    margin-top: 5px;
	text-transform:uppercase;
}
.carousel-inner h4 {
    font-size: 18px;
    color: #ec7501;
    font-family: source_sans_bold;
    text-align: center;    margin-bottom: 0px;
    margin-top: 0px;
	text-transform:uppercase;
}
.carousel-inner .col-md-custom
{
    background: url(images/carousel-line.png);
    background-position: center right;
    background-size: 2px 81px;
    background-repeat: no-repeat;min-height: 145px;
}
/* End carousel */
@media screen and (max-width: 1300px) {
  .container_bkg h4{ padding-top:60px;}
  .search_resturants{ top:-155px;}
}
@media screen and (max-width: 1200px) {
  .container_bkg h4{ padding-top:50px; font-size:25px;}
  .container_bkg h2{ font-size:50px;}
  .search_resturants {
    top: -195px;
}
.find_local_resturants .zip_postal{ width:100%;}
.find_local_resturants{ width:100%;}
  .why-us{ top:-200px;}
 .footer{ margin-top:0px;}
}
@media screen and (max-width: 1100px) {
	.search_resturants {
    top: -230px;
}
  .why-us{ top:-250px;}
}

@media screen and (max-width: 1000px) {
  .container_bkg h4{ padding-top:40px; font-size:18px;}
  .container_bkg h2{ font-size:35px;margin-bottom: 5px;}
  .order_enjoy{margin-top: 15px;}
   .find_local_resturants label{ text-align:center;}
   
   	.search_resturants {
    top: -315px;
}
 .find_local_resturants{ padding-top:40px;}
   .why-us{ top:-315px;
}
	 .footer {
    background: rgba(0, 0, 0, 0) url("images/footer-bkg.png") no-repeat scroll 0 0 / 100% 371px;
    max-width: 860px;
    min-height: 371px;
    width: 100%;
	
}
.container.footer_form{ top:-35px;}
.footer_bottom{ top:105px;}
}
@media screen and (max-width: 860px) 
{
	 .container_bkg h4{ padding-top:20px;}
	 .find_local_resturants label{ text-align:center;}
.container.footer_form{ top:-20px;}
.footer_bottom{ top:145px;}
}
@media screen and (max-width: 768px) 
{
	.container_bkg{    background-size: 100% 385px;}
	.container_bkg h4{ padding-top:40px;}
	.container_bkg .text-search{ width:300px;}
	.login_signup {
		float: none;
		padding-bottom: 24px;
		margin: 0 auto;
		}
	.logo{ width:100%;    text-align: center;}
	.search_resturants{ background:none;}
    .search_zip_responsive{left: -45px;
    margin-top: 15px;
}
.container.footer_form{ top:0px;}
.footer_bottom {
    float: none;
    margin: 0 auto;
    top: 0;
    width: 297px;
}
.footer_form input[type="text"]{ margin-bottom:5px;}
.footer_form input[type="text"] { margin-right:0px;}
.footer_bottom{ top:140px;}
}

@media screen and (max-width: 500px) {
	.footer {
    background: rgba(0, 0, 0, 0) url("images/footer-bkg.png") no-repeat scroll 0 0 / 100% 565px; max-height:auto;}
	.container.footer_form {
    top: 60px;
}
.footer_bottom{ top:200px; margin-bottom:25px}
}
@media screen and (max-width: 400px) 
{
  .container_bkg h4{ font-size:18px; margin-bottom:-5px;}
  .container_bkg h2{ font-size:28px;}
.container_bkg .text-search {
    width: 255px;
    height: 40px;
}
}
